@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-image: url(/illu.svg);
  background-position: bottom right;

  background-repeat: no-repeat;
  */

  background-color: #ddd6fe;
  font-family: Arial, Helvetica, sans-serif;
}
